__pycache__
.claude/
.DS_Store
.idea/
.vscode
*.bin
*.ckpt
*.gguf
*.onnx
*.pth
*.safetensors
*.sft
**/tokenizer/tokenizer.json
/.venv
/cache
/config_states/
/config.json
/embeddings
/extensions
/models/**/*
/output
/outputs
/params.txt
/repositories
/styles.csv
/styles.csv.bak
/sysinfo*.json
/tmp
/ui-config.json
/user.css
/venv
/webui-user.bat
/webui-user.sh
notification.mp3
uv.lock
webui-user-*.bat